body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-image: url(../img/pexels-bich-tran-911059.jpg);
}

textarea {
  resize: none;
  color: #000000;
  padding: 20px;
}

textarea:focus {
  outline: none;
}

.radial {
  background: rgb(250,172,114);
  background: radial-gradient(circle, rgba(250,172,114,1) 0%, rgba(223,190,9,1) 50%, rgba(163,211,244,1) 85%);
}

h1 {
  color: #fff;
  font-size: 28px;
  font-family: 'Rubik', sans-serif;
}

p {
  color: #fff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.description {
  white-space: pre-wrap;
  background-color: #fff;

}

.time-block {
  border-radius: 15px;
}

.row {
  border: none;
  margin-bottom: 5px;
}

.hour {
  background-color: #fff;
  color: #205b82;
  font-weight: 700;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.past {
  background-color: #6d7d88;
  color: white;
}

.present {
  background-color: #8af9c9;
  color: rgb(24, 24, 24);
}

.future {
  background-color: #87badb;
  color: rgb(42, 42, 42);
}

.saveBtn {
  border-left: 1px solid #205b82;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #205b82;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  color: #ff6961;
}


 
